{% for build in builds %}
    <a href="##" onclick="projectToggle('{{ build.build }}')">
        <li {% if build.success %} class="green invisible" {% else %} class="red invisible" {% endif %}>
            <div class="project">
                <img id="image_{{ build.build }}" src="/images/arrow_closed.png" />#{{ build.build }}
            </div>
            <div class="build">&nbsp;</div>
            <div class="date">{{ build.build_date|date("d.m.Y H:i:s") }}</div>
        </li>
    </a>
    <div id="build_{{ build.build }}" class="output hidden">
        {{ build.output|replace({'\n':'<br/>'})|raw }}
    </div>
{% endfor %}