{% for build in builds %}
    <li onclick="projectToggle('{{ build.getNumber }}')" {% if build.getSuccess %} class="green invisible buildline" {% else %} class="red invisible buildline" {% endif %}>
        <div class="project">
            <img id="image_{{ build.getNumber }}" src="/images/arrow_closed.png" />#{{ build.getNumber }}
        </div>
        <div class="build">&nbsp;</div>
        <div class="date">{{ build.getDate|date("d.m.Y H:i:s") }}</div>
    </li>
    <div id="build_{{ build.getNumber }}" class="output hidden">
        {{ build.getOutputAsHtml|raw }}
    </div>
{% endfor %}